*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-decoration: underline 2px;
    background-color: #ccc;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
#lunchTablephp{
    margin-left: 20px;
    margin-right: 20px;
}
#lunchOptions{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    padding: 15px;
    border: 2px solid black;
    max-width: 400px;
}
#lunchRandomphp{
    margin-left: 20px;
    margin-right: 20px;
}
#redirectButton{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    padding: 15px;
    border: 2px solid black;
}
input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input [type=submit]{
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}